.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}
.card-img-top{
    width:100%;
    height:250px;
    margin:0%;
    max-width: 300px;


}
.btn-primary{
    width:25%;
    padding: 10px 20px;
}
@media (min-width: 768px) {
    .card-img-top {
        max-width: 300px;
    }
}

@media (min-width: 992px)
.card-img-top {
    max-width: 350px;

}
.card {

    display: flex;
    flex-direction: column;


}

