.footer {
    position: fixed;
    left: 0;
    bottom: 0;
  height:2%;
    width: 100%;
    background-color: rgba(100,97,114,0.6);
    color: white;
    text-align: center;
}
.card-img-top{
    width:100%;
    height:250px;
    margin:0%;
    max-width: 300px;

}
.btn-primary{
    width:25%;
    padding: 10px 20px;
}
.nav-item{
    padding:2%;

}

#carouselExampleCaptions {
    max-width: 40%;
    max-height:100%;
    margin: auto;
    justify-content: center;

}

.carousel-item img {
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius:10px;
}




.span{
    color:orange;
}
.navbar-nav .nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}


@media (min-width: 768px) {
    .card-img-top {
        max-width: 300px;
    }
}
@media (min-width: 992px)
.card-img-top {
    max-width: 350px;

}
.card {
    display: flex;
    flex-direction: column;
}
.col{
    border-bottom: 1px solid grey;
    padding:1%;
}

